/* variables  */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --prag-color: #777;
}
/* Glople Ruls */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* commponent */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -15px;
  height: 2px;
  width: 125px;
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -23px;
  background-color: white;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 1.6;
  color: var(--prag-color);
}
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 1px;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
}
header .logo img {
  height: 54px;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    left: 0;
    width: 100%;
    background: rgb(0 0 0 / 50%);
  }
  header nav .toggle-menu:hover + ul li a {
    padding: 15px !important;
  }
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 40px 30px;
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  position: relative;
  width: 40px;
  height: 30px;
  border-left: 1px solid white;
  margin-left: 30px;
}
header nav .form i {
  color: white;
  top: 50%;
  position: absolute;
  font-size: 20px;
  transform: translateY(-50%);
  right: 0;
}
/* landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    width: 100%;
  }
}
.landing .text .content h2 {
  font-size: 27px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 1.4;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 15px;
}
.landing .fa-angle-right {
  right: 15px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .serv-box {
  display: flex;
}
.services .serv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .serv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  .services .serv-box i {
    margin: 0 0 30px;
  }
}
.services .serv-box .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .serv-box .text p {
  line-height: 1.6;
  color: var(--prag-color);
}
/* Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  height: 600px;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}
.design .image {
  text-align: center;
  bottom: -150px;
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .text ul li {
  padding: 15px 0;
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
}
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  text-decoration: none;
  margin: 30px auto;
  text-transform: uppercase;
  display: block;
}
/* video */
.video {
  position: relative;
}
.video::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}
.video video {
  width: 100%;
}

.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 50px;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}
.video .text h2 {
  margin: 0 0 25px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 25px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
/* about */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  max-width: 100%;
  margin-top: -120px;
  bottom: -120px;
}
@media (max-width: 767px) {
  .about img {
    position: relative;
    margin-top: -60px;
    bottom: -60px;
  }
}
.statistics {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/statistics.jpg");
  background-size: cover;
  position: relative;
}
.statistics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}
.statistics .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.statistics .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .statistics .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .statistics .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .statistics .container .box {
    flex-basis: 25%;
  }
}
.statistics .container .box i {
  width: 30px;
  height: 30px;
  margin: 0 auto 15px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.statistics .container .box .number {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 15px;
}
.statistics .container .box p {
  font-size: 13px;
}
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: var(--prag-color);
  line-height: 1.5;
  text-align: center;
  margin-bottom: 60px;
}
.our-skills .testimonials .content {
  display: flex;
  margin-bottom: 30px;
}
.our-skills .testimonials .content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 60px;
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 65px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.4;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: var(--prag-color);
  text-align: right;
  font-size: 14px;
  margin: 10px 0;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets li {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #aaa;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 20px;
}

.our-skills .skills .prog-holder h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder span {
  position: relative;
  display: block;
  background-color: var(--main-color);
  height: 100%;
}
.our-skills .skills .prog-holder span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -36px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.our-skills .skills .prog-holder span::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -7px;
  border: 8px solid;
  border-color: black transparent transparent;
}
/* quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  font-weight: normal;
  position: relative;
  top: -40px;
  margin-right: 15px;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  font-size: 25px;
  position: relative;
  right: -15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 0;
}

.pricing .plans .plan .footer a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
  width: fit-content;
  margin: 30px auto;
  cursor: pointer;
}
.pricing .contact-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.pricing a {
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
  padding: 5px;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  text-decoration: none;
}
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/sup.jpg");
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* @media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
} */
.subscribe .container form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe .container form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
}
.subscribe .container form input[type="email"] {
  border: 1px solid white;
  background: none;
  border-right: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
  color: white;
}
.subscribe .container form input[type="submit"]:focus,
.subscribe .container form input[type="email"]:focus {
  outline: none;
}

.subscribe .container form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
}
.subscribe .container form ::placeholder {
  color: white;
}
.subscribe p {
  margin: 20px 0;
}
.contact-us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact-us .content {
  display: flex;
}
@media (max-width: 767px) {
  .contact-us .content {
    flex-direction: column;
  }
}
.contact-us .content form {
  flex-basis: 70%;
}
.contact-us .content form .main-input {
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-us .content form .main-input:focus {
  outline: none;
}
.contact-us .content form textarea.main-input {
  height: 200px;
}
.contact-us .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  margin-left: auto;
  cursor: pointer;
  padding: 20px;
  border: none;
  display: flex;
}
.contact-us .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact-us .content .info {
    order: -1;
    text-align: center;
  }
}
.contact-us .content .info h4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}
.contact-us .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.contact-us .content .info h4:nth-of-type(2) {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .contact-us .content .info h4:nth-of-type(2) {
    margin-top: 35px;
  }
}

.contact-us .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact-us .content .info address {
    margin-bottom: 20px;
  }
}
footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../images/earth.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
}
footer .container {
  position: relative;
}
footer .container img {
  width: 200px;
  top: -20px;
  margin: 0 0 20px;
}

footer .container p:not(.copy-right) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 24px;
  width: fit-content;
  margin: 20px auto;
}
footer .container .social-icons {
  margin-top: 50px;
}

footer .container .social-icons i {
  padding: 10px 20px;
  cursor: pointer;

}
footer .container .copy-right {
  margin-top: 80px;
}
footer .container span {
  color: var(--main-color);
}
